{% extends "layout.html" %}

{% block content %}
  <p><a href="{{ url_for('new_file') }}">+ Create new document</a></p>
  <ul>
    {% for file in documents %}
      <li>
        <a href="{{ url_for('file_content', filename=file) }}">{{ file }}</a>
        <a href="{{ url_for('edit_file', filename=file) }}">edit</a>
        <form action="{{ url_for('delete_file', filename=file) }}" method="post" style="display: inline;">
          <button type="submit" onclick="return confirm('Are you sure you want to delete {{ file }}?');">delete</button>
        </form>
    {% endfor %}
  </ul>
  
  {% if session.username %}
    <form method="post" action="{{ url_for('signout') }}">
      <p class="user-status">
        Signed in as {{ session.username }}.
        <button type="submit">Sign Out</button>
      </p>
    </form>
  {% else %}
    <p class="user-status"><a href="{{ url_for('signin') }}">Sign In</a></p>
  {% endif %}
{% endblock %}